{% extends 'base.html' %}

{% block title %}Form{% endblock %}

{% block content %}
<form action="/story" method="get">
    <h1>Madlibs</h1>
    <p>Place:</p>
    <input type="text" name="place" id="place">
    <p>Noun:</p>
    <input type="text" name="noun" id="noun">
    <p>Verb:</p>
    <input type="text" name="verb" id="verb">
    <p>Adjective:</p>
    <input type="text" name="adjective" id="adjective">
    <p>Plural Noun:</p>
    <input type="text" name="plural_noun" id="plural_noun">
    <br>
    <br>
    <input type="submit" value="submit">
</form>
{% endblock %}